<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="stylesheet" href="../css/css2.css" />
  </head>
  <body>
    <h1>This Is Weather2 App</h1>
    {{>index}}
    <form>
      <input class="fdt"  type="input" placeholder="search location heare">
      <button type="submit">submit</button>
    </form>
    <P class="onep"> location..</P>
    <p class="twop"></p>
    <p class="treep"></p>
    <p class="fourp"></p>
    <p class="fivep"></p>
    <script src="/js/app.js"></script>
  </body>
</html>