<nav class="nav">
  <a class="a" href="/about2">about2</a>
  <a class="a" href="/home2">home2</a>
  <a class="a" href="/me2"> me</a>

  <a class="a" href="/home.html">home.html</a>
  <a class="a" href="/weather2"> weather2</a>
</nav>